header, #row-2 {
  background-color: #b71540 !important;
  color: #fff !important;
}

#breadcrumb-nav, #main {
  width: 60%;
}
#search-nav, #other-recipes {
  width: 40%;
}

.breadcrumb a {
  text-decoration: none;
  color: #fff;
}
.breadcrumb li {
  color: #fff !important;
}

.breadcrumb {
  background-color: rgb(250, 250, 250);
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 0 !important;
  background-color: #b71540 !important;
}

#search-input {
  border-width: 0px 0px;
}
.sbv {
  border-style: solid;
  border-color: rgb(244, 244, 244);
  border-width: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mr {
  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-width: 2px;
}
header{
  background-color: #b71540 !important;
}
